window {
    font-family: "DejaVuSansMono", monospace;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
}


#input {
    margin: 0.2em;
    border-radius: 8px;
    background-color: #3a3a3a;
    border: 1px solid white;
    font-size: 16;
}

#inner-box {
    margin: 2px;
    border: none;
}

#outer-box {
    margin: 2px;
    border: none;
    margin-top: 0.25em;
    margin-bottom: 0.3em;
}

#text {
    margin: 2px;
    border: none;
    align-items: center;
}

#entry:selected {
    margin: 0.2em;
    border-radius: 8px;
    background-color: #3a3a3a;
    border: 1px solid white;
}

image {
    margin: 0.25em;
}

.submenu-icon {
    display: none;
}
